body {
  margin: 10;
  padding: 0;
  font-family: sans-serif;
  background:#ecf0f1;
}

.navbar{
  background: #2c3e50 !important;
}
.to-do{
  background: #95a5a6 !important;
}
.to-do:hover {
  background: #f1c40f !important;

}

.done{
  background: #4cd137 !important;
}

.done:hover {
  background: #f1c40f !important;
}
.prog{
  background: #1abc9c !important;
}
.prog:hover {
  background: #f1c40f !important;

}
.fullscreen {
  position: relative;
  margin-bottom: 15.86%;
}
.fullscreen1 {
  position: relative;
  margin-top: 19%;
}

.fulladdprojecttask{
  position: relative;
  margin-bottom: 15.86%;
}

.container{
  text-align: center;
}
.btn2{
  background: none;
  border-color: red !;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  font-weight: 900;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border: 2px solid #8e44ad;
  color: #8e44ad;
}
.btn1{
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  font-weight: 900;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1{
  border: 2px solid #8e44ad;
  color: #8e44ad;
  
}


.btn1:hover{
  color: #fff;
}

.btn1::before{
  content: "";
  position: absolute;
  left:0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition:  0.8s;
}
.btn1::before{
  background: #8e44ad;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before{
  height: 180%;
}


